
<main>

    <p id="tittle" class="mb-4">Sesión 9_Actividad Asíncrona // Najhely Banda</p>

<div class="flex py-2">
    <span id="label" class="flex items-center justify-center border border-gray-400 border-r-0 py-2">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4">
            <path fill-rule="evenodd" d="M11.097 1.515a.75.75 0 01.589.882L10.666 7.5h4.47l1.079-5.397a.75.75 0 111.47.294L16.665 7.5h3.585a.75.75 0 010 1.5h-3.885l-1.2 6h3.585a.75.75 0 010 1.5h-3.885l-1.08 5.397a.75.75 0 11-1.47-.294l1.02-5.103h-4.47l-1.08 5.397a.75.75 0 01-1.47-.294l1.02-5.103H3.75a.75.75 0 110-1.5h3.885l1.2-6H5.25a.75.75 0 010-1.5h3.885l1.08-5.397a.75.75 0 01.882-.588zM10.365 9l-1.2 6h4.47l1.2-6h-4.47z" clip-rule="evenodd" />
        </svg>                   
    Ingrese primer valor: </span>
    <input #num1 class="border border-gray-400 p-2 focus:outline-none" type="number">
  </div>

  <div class="flex py-2">
    <span id="label" class="flex items-center justify-center border border-gray-400 border-r-0 py-2 text-gray-700">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4">
            <path fill-rule="evenodd" d="M11.097 1.515a.75.75 0 01.589.882L10.666 7.5h4.47l1.079-5.397a.75.75 0 111.47.294L16.665 7.5h3.585a.75.75 0 010 1.5h-3.885l-1.2 6h3.585a.75.75 0 010 1.5h-3.885l-1.08 5.397a.75.75 0 11-1.47-.294l1.02-5.103h-4.47l-1.08 5.397a.75.75 0 01-1.47-.294l1.02-5.103H3.75a.75.75 0 110-1.5h3.885l1.2-6H5.25a.75.75 0 010-1.5h3.885l1.08-5.397a.75.75 0 01.882-.588zM10.365 9l-1.2 6h4.47l1.2-6h-4.47z" clip-rule="evenodd" />
        </svg>                   
    Ingrese segundo valor:</span>
    <input #num2 class="border border-gray-400 p-2 focus:outline-none" type="number">
  </div>


<select name="" id="opciones" 
(change)= "primerValor = num1.valueAsNumber; segundoValor= num2.valueAsNumber; Operacion()" 
class="my-3 py-2 rounded border border-gray-400 bg-[#165b94] focus:outline-none">
    <option selected>Elija una opción</option>
    <option value="1" >Suma</option>
    <option value="2">Resta</option>
    <option value="3">Multiplicacion</option>
    <option value="4">División</option>
</select>


<div class="mt-2 casos rounded w-3/6" [ngSwitch] = "operacion" >
    <p *ngSwitchCase="1">Resultado: <span [ngStyle]="{'color':'blue'}">{{resultado}}</span></p>
    <p *ngSwitchCase="2">Resultado: <span [ngStyle]="{'color':'green'}">{{resultado}}</span></p>
    <p *ngSwitchCase="3">Resultado: <span [ngStyle]="{'color':'purple'}">{{resultado}}</span></p>
    <p *ngSwitchCase="4">Resultado: <span [ngStyle]="{'color':'orange'}">{{resultado}}</span></p>
    <p *ngSwitchDefault="5" >Resultado: <span [ngStyle]="{'color':'red'}">{{none}}</span></p>
</div>
</main>